body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.mainheader {
  display: grid;
  place-items: center;
}

.button {
  width: 100px;
}

.nz {
  max-width: 500px;
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

#review {
  width: 300px;
  height: 150px;
}

.justified-paragraph {
  text-align: justify; /* Justify the text */
  margin: 3rem;
  font-size: 1.5rem; /* Set margin for the paragraph */
}
